.a_hero {
  height: 100vh;
  width: 100%;
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
}

.a_h_overlay {
  position: absolute;
  background-color: rgba(29,72,92, 0.2);
  height: 92vh;
  width: 100%;
}

.a_h_header {
  height: 100px;
}

.a_h_parallaxes {
  position: relative;
  top: 0px;
  right: 100px;
}

.a_h_flamings {
  position: absolute;
  z-index: 1;
  height: 616px;
  width: 616px;
  top: 4em;
  left: 7em;
}

.a_h_flying {
  position: absolute;
  z-index: 2;
  height: 250px;
  width: 246px;
}

.a_h_green_circle_bg {
  position: static;
  height: 700px;
  width: 700px;
}

.a_h_content {
  display: flex;
  padding: 20px;
  margin-left: 180px;
  margin-right: 180px;
  align-items: center;
}

.a_main {
  background-color: #fff;
}

.a_search {
  color: black;
}

.a_info_title {
  color: #aa8c11;
}

.a_info_text {
  color: black;
}

.searchBox_container {
  position: relative;
}

#searchBox {
  border: none; 
  border-radius: 25px; 
  height: 50px; 
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 20px;
  font-size: 17px;
}

.btnSubmit {
  height: 50px;
  width: 60px; 
  border-radius: 25px; 
  background-color: #0d2c3b;
  position: absolute;
  right: 0;
}

.react_icons {
  color: #fff;
  font-size: 1.5em;
  fill: #aa8c11;
}

.btn_animal {
  border: inherit;
  background: inherit;
}

.btn_animal:hover {
  transform: translate(0, -10px);
  transition: 0.7s;
}

h1, h2, h3 {
  color: white;
}